name: Backend CI/CD

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - 'backend/**'
      - '.github/workflows/backend-cicd.yaml'

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'

      - name: Dar permissão de execução ao Gradle Wrapper
        run: chmod +x gradlew
      
      - name: Executar Build e Testes
        run: ./gradlew clean build --stacktrace